@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: black;
}
.logo{
  font-family: 'Bebas Neue', sans-serif;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

@font-face {
    font-family: 'Netflix-regular';
    src: url('fonts/NetflixSans_W_Rg.woff2') format('woff');
}
@font-face {
    font-family: 'Netflix-medium';
    src: url('fonts/NetflixSans_W_Md.woff2') format('woff');
}
@font-face {
    font-family: 'Netflix-bold';
    src: url('fonts/NetflixSans_W_Blk.woff2') format('woff');
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    object-fit: cover;
  }
.swiper-pagination-bullet {
  background-color: white;
  border: 2px solid black;
}

.swiper-pagination-bullet-active {
  background-color: #DB202C;
  border: none;
}

